
<nav class="navbar navbar-dark bg-secondary ">
    <div class="container-fluid ">
        <div class=" d-flex flex-row mb-1">
            <ul class="navbar-nav d-flex flex-row justify-content-start align-items-center">
                <li class="nav-item">
                    <button routerLink="department" class=" m-1 btn btn-light btn-outline-dark">Departments</button>
                </li>
                <li class="nav-item">
                    <button routerLink="employee" class="m-1 btn btn-light btn-outline-dark">Employees</button>
                </li>
            </ul>
        </div>
        <a role="button" class="navbar-brand d-flex flex-row justify-content-center">Coding Factory 5 - Final Project</a>
    </div>
</nav>